.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-background);
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: flex-end;
}

.links {
  display: flex;
  gap: 15px;
}
